.bg {
  background-image: linear-gradient(
      to bottom,
      rgba(40, 41, 46, 0.52),
      rgba(18, 179, 219, 0.73)
    ),
    url("../../Static/Images/landing.jpg");

  height: 80vh;
  width: 100%;
}

.Quotes {
  /* margin-top: 150px; */
  font-size: medium;
}
